<app-navbar class="mb-2" />

<section class="d-flex mb-2 gap-2">
	<app-cta />
	<app-about-me />
</section>

<section class="d-flex mb-2 gap-2">
	<app-servicos class="quick-action" />
	<app-links class="quick-action" />
	<app-stacks class="quick-action" />
	<app-atualizacoes class="quick-action" />
	<app-recomendacoes class="quick-action" />
</section>

<section class="d-flex mb-2 gap-2">
	<app-tecnologias />
</section>

<section class="d-flex mb-2 gap-2">
	<app-projetos (click)="goToProjects()" tabindex />
	<app-projetos (click)="goToProjects()" tabindex />
</section>

<!-- <section class="d-flex mb-2"></section> -->

<app-footer />
