<app-navbar class="mb-2"></app-navbar>

<section class="d-flex mb-2 gap-2">
  <app-cta></app-cta>
  <app-about-me></app-about-me>
</section>

<section class="d-flex mb-2 gap-2">
  <app-servicos></app-servicos>
  <div class="d-flex w-50 gap-2">
    <app-links></app-links>
    <app-stacks></app-stacks>
  </div>
</section>

<section class="d-flex mb-2 gap-2">
  <div class="d-flex w-50 gap-2">
    <app-atualizacoes></app-atualizacoes>
    <app-recomendacoes></app-recomendacoes>
  </div>
  <app-projetos></app-projetos>
</section>

<section class="d-flex mb-2"></section>

<app-footer></app-footer>
