<div class="modal-header">
	<input type="text" class="w-100" placeholder="Pesquise pelo que procura">
</div>
<div class="modal-body">
	<div class="py-1 overflow-auto w-100" style="min-height: 100px; max-height: 300px;">
		<ul class="list-group list-group-flush w-100">
			<li class="list-group-item list-group-item-action">Sobre Mim</li>
			<li class="list-group-item list-group-item-action">Artigos</li>
			<li class="list-group-item list-group-item-action">Projetos</li>
			<li class="list-group-item list-group-item-action">Stacks</li>
			<li class="list-group-item list-group-item-action">Redes Sociais</li>
			<li class="list-group-item list-group-item-action">Recomendações</li>
			<li class="list-group-item list-group-item-action">Atualizações</li>
			<li class="list-group-item list-group-item-action">Podcast</li>
			<li class="list-group-item list-group-item-action">Contato</li>
			<li class="list-group-item list-group-item-action">Redes Sociais</li>
		  </ul>
	</div>
</div>