/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  width: 100%;
  margin: 0 !important;
  background-color: transparent;
}

html {
  background-color: #ffffff80;
  padding: 0.6rem 1rem;
}

@media (max-width: 450px) {
  html {
    background-color: #ffffff80;
    padding: 1rem 0.6rem;
  }
}

@media (min-width: 1370px) {
  html {
    background-color: #ffffff80;
    padding: 0.6rem 10%;
  }
}

// custom styles
.w-40 {
  width: 40%;
}

.modal-content {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-header {
  border-bottom: none !important;
}

// .modal-header,
// .modal-footer,
// .modal-body {
//   background-color: transparent;
// }
